<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
</head>

<!-- <body>
    <div id="app">
        {{ message }}
    </div>

    <div id="app-2">
        <span v-bind:title="message">
            鼠标悬停几秒钟查看此处绑定的提示信息！
        </span>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        });

        var app2 = new Vue({
            el: '#app-2',
            data: {
                message: '页面加载于' + new Date().toLocaleString()
            }
        });
        // app2.message = '新消息'；
        
    </script>
</body> -->

<!-- <body>
    创建一个控制的区域
    <div id="app">
        <input type="button" value="浪起来" @click="lang">
        <input type="button" value="低调" @click="stop">


        <h4> {{ msg }} </h4>

    </div>


    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                msg: '猥琐发育，别浪~~！',
                intervalID: null   在data上定义 定时器ID
            },
            methods: {
                lang() {

                    if (this.intervalID != null) return;

                    获取到头的第一个字符
                    this.intervalID = setInterval(() => {
                        var start = this.msg.substring(0, 1)
                         获取到 后面的所有字符
                        var end = this.msg.substring(1)
                         重新拼接得到新的字符串，并赋值给 this.msg
                        this.msg = end + start
                    }, 200)
                },
                stop() {
                    停止定时器
                    clearInterval(this.intervalID)
                     每当清除了定时器之后，需要重新把 intervalID 置为 null
                    this.intervalID = null
                }
            }

        })

    </script>



</body> -->

<!-- 简易计算器 -->
<!-- <body>
    <div id="app">
        <input type="text" v-model="n1">

        <select v-model="option">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>


        <input type="text" v-model="n2">

        <input type="button" value="=" @click="calc">

        <input type="text" v-model="result">
    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                n1: 0,
                n2: 0,
                result: 0,
                option: '+'
            },
            methods: {
                calc() {
                    switch (this.option) {
                        case '+':
                            this.result = parseInt(this.n1) + parseInt(this.n2)
                            break;
                        case '-':
                            this.result = parseInt(this.n1) - parseInt(this.n2)
                            break;
                        case '*':
                            this.result = parseInt(this.n1) * parseInt(this.n2)
                            break;
                        case '/':
                            this.result = parseInt(this.n1) / parseInt(this.n2)
                            break;
                    }
                }
            }
        })

    </script>

</body> -->

<!-- v-for循环普通数 -->
<!-- <body>
    <div id="app">
        <p v-for="(item,i) in list">索引值:{{i}} --- 每一项:{{item}}</p>
    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                list: [1, 2, 3, 4, 5, 6]
            },
            methods: {}
        })

    </script>
</body> -->


<body>
    
</body>
</html>