<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <form @button.prevent="insert">
            <input type="text" placeholder="添加水果名称" v-model="frulit">
            <input type="button" value="添加" @click="add">

            <ul>
                <li v-for="item,index in frulitlist">
                    <span> {{item}} </span>
                    <span @click="del(index)">删除</span>
                </li>
            </ul>
        </form>
    </div>
    <script src="vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                frulitlist: [
                    "苹果",
                    "香蕉",
                    "鸭梨"
                ],
                frulit: ''
            },
            methods: {
                del(i) {
                    this.frulitlist.splice(i, 1)
                },
                add() {
                    this.frulitlist.push(this.frulit)
                },
            },
        })
    </script>
</body>

</html>