<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap.css">
</head>

<body>
    <div id="app">

        <div class="panel panel-parimary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <label for="">
                    ID:
                    <input type="text" v-model="ID">
                </label>

                <label for="">
                    Name:
                    <input type="text" class="form-control" v-model="Name">
                </label>

                <!-- 在 Vue中，使用事件绑定机制，为元素指定处理函数的时候，如果加了小括号，就可以给
                函数传参了 -->
                <input type="button" value="添加" class="btn btn-primay" @click="add()">
            </div>
        </div>





        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in list">
                    <td> {{item.ID}} </td>
                    <td> {{item.Name}} </td>
                    <td> {{item.Ctime}} </td>
                    <td> {{item.Operation}} </td>
                    <td>
                        <a href="" @click.prevent="del(item.ID)">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                ID: '',
                Name: '',
                Ctime: '',
                Operation: '',
                list: [{
                        ID: 1,
                        Name: "奔驰",
                        Ctime: new Date()
                    },
                    {
                        ID: 2,
                        Name: "宝马",
                        Ctime: new Date()
                    },
                ]
            },
            methods: {
                add() { // 添加的方法
                    //分析：
                    // 1. 获取到 Id 和 Name，直接从data上面获取
                    // 2. 组织出一个对象
                    // 3. 把这个对象，调用数组的相关方法，添加到当前 data 上的 list 中
                    // 4. 注意：在Vue中，已经实现了数据的双向绑定，每当我们修改了 data 中的数据
                    // Vue会默认监听到数据的改动，自动把最新的数据，应用到页面上；
                    // 5. 当我们意识到上面的第四步的时候，就证明大家已经入门 Vue了，我们更多的是在进行 VM
                    // 中 Model 数据的操作，同时，在操作 Model 数据的时候，指定的业务逻辑操作



                    var car = {
                        ID: this.ID,
                        Name: this.Name,
                        Ctime: new Date(),
                        Operation: this.Operation
                    }
                    this.list.push(car)
                    this.ID = this.Name = ''
                },
                del(ID){// 根据ID删除数据
                    // 分析；
                    // 1. 如何根据ID，找到要删除这一项的索引
                    // 2. 如果找到索引了，直接调用 数组的 splice 方法


                    var index = this.list.findIndex(item =>{
                        if (item.Id == ID){
                            return true;
                        }
                    })
                    this.list.splice(index,1)
                }
            }
        })
    </script>
</body>

</html>